<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <title>Bookmarks</title>
</head>
<body>
    <h1>Bookmarks</h1>
    <ul>
        <% for (var i = 0; i < Bookmarks.length ; i++) { %>
            <form action="/bookmarks/<%= Bookmarks[i].id %>?_method=DELETE" method="POST">
            <li id="bookmark-<%= i %>" > <%= Bookmarks[i].url %> </li>
                <input id="delete-button-<%= i %>" type="submit" value="Delete"/>
            </form>
            <form action="/bookmarks/<%= Bookmarks[i].id %>/update" method="GET">
                <input id="update-button-<%= i %>" type="submit" value="Update"/>
            </form>
        <% } %>
    </ul>
    <form action="/bookmarks" method="POST">
        <input id="addForm" type="text" name="url">
        <input id="addButton" type="submit" value="Add">
    </form>
</body>
</html>